.contact-us-container{
    color: #085444;
}

.contacth1{
    margin-bottom: 1%;
    color: #083d32;
}
.contact-us-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .contact-info {
    margin-top: 50px;
    text-align: center;
    width: 100%;
  }
  
  .info {
    display: flex;
    align-items: center;
    width: 100%;
  }
  
  .details {
    text-align: left;
    justify-content: center;
  }
  
  .details h2 {
    color: #083d32; 
  }
  
  .footerLogin{
    width: 100%;
    margin-top: 5%;
  }