body {
  font: "Space Grotesk", sans-serif;
  background-color: #fff6e9;
}
.mainLoginContainer{
  width: 800px;
  height: 470px;
  background-color: #083D32;
  position: relative;
  top: 100px;
  left: 16%;
  margin-bottom: 133px;
  padding: 5px 0 0 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 7.28px;
}

.loginDiv{
  position: relative;
  background-color: #FFECD1;
  padding-top: 20px;
  padding-left: 20px;
  width: 500px;
  min-height: 460px; /* change from height to min-height */
  border-radius: 7.28px;
  color: #083D32;
  margin-bottom: 20px;
}


.loginDiv p{
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 15px;
}

.social-icons{
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icons .google{
  margin-right: 25px;
}
.or{
  width: 100%;
  margin-left: -5px;
  margin-top: 15px
}
.input-label {
  font-size: 14px;
  color: #0d9276;
}
.username
{
  width: 460px !important;
  margin-bottom: 20px !important;
  background-color: transparent;
  border-radius: 7.2px;
  border: 1px solid black;
}
.password
{
  width: 460px !important;
  margin-bottom: 20px !important;
  background-color: transparent;
  border-radius: 7.2px;
  border: 1px solid black;
}
.nakli2{
  text-decoration: none;
  color:#fff;
}
.password-toggle{
  width: 20px;
  position: absolute;
  top: 41%; 
  right: 1px;
  transform: translateY(-50%); 
}
.loginbutton{
  position: relative;
  width: 460px;
  text-align: center;
  margin-top: 50px;
  height: 50px; 
  border-radius: 10.1px;
  border: none;
  background-color: #083D32;
  color: white;
}
.password-wrapper {
  position: relative; 
}
.toggle-password{
   margin-bottom: 0px;
}
.loginbuttonrevised{
  position: relative;
  width: 460px;
  text-align: center;
  margin-top: 10px;
  height: 50px;
  border-radius: 10.1px;
  border: none;
  background-color: #083D32;
  color: white;
}

.signUpLogin{
  text-wrap: wrap;
  margin-left: 68%;
  margin-top: -42%;
  color: #FFECD1;
}
.signUpLogin p{
  text-wrap: wrap;
  margin-left: -5%;
  margin-top: 0%;
  color: #fff;
}

.error{
  position: absolute;
  font-size: 12px;
  margin-bottom: 10px;
  color: red;
  left: 0;
}


.signUpLoginButton{
  height: 60px;
  width: 200px;
  border-radius: 10.1px;
  border: none;
  background-color: #FFECD1;
  margin-top: 40px;
}